Asp_Mvc_Razor_Grouped_Data/Content/* linguist-vendored
Asp_Mvc_Razor_Grouped_Data/Scripts/* linguist-vendored

Asp_Mvc_Razor_Grouped_Data/Models/* linguist-language=ASP
Asp_Mvc_Razor_Grouped_Data/Views/* linguist-language=ASP
Asp_Mvc_Razor_Grouped_Data/Controllers/* linguist-language=ASP
Asp_Mvc_Razor_Grouped_Data/ViewModel/* linguist-language=ASP

*.sql linguist-detectable=true
